h1{text-align:center
}
#border1{border:1px solid black;}
.zoo{height:140px; width:160px; margin:20px; padding:10px;}
.garden{height:120px; width:180px; margin:20px; padding:10px;}
.food{height:165px; width:200px; margin:15px; padding:8px;}
